:root {
    --font-size-heading: clamp(16px, 2.5vw, 36px);
    --selected-nav-color: rgb(48, 48, 48);
    --standard-font-size: 1.75rem;
    --link-list-margins: 5px 10px;
}

.cover {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover.centered {
    height: 100vh;
}

.cover-bgimage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("res/backgrounds/2.png");
    background-size: cover;
    transform : scale(1.05);
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    z-index: 2;
}

.cover-bgimage.work {
    background-image: url("res/backgrounds/2.png");
}

.cover-bgimage.about {
    background-image: url("res/backgrounds/2.png");
}

.cover-bgimage.contact {
    background-image: url("res/backgrounds/2.png");
}

.cover-bgimage.links {
    background-image: url("res/backgrounds/2.png");
}

.cover-leaf {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    margin: 10px;
    transition: transform 0.15s;
    z-index: 3;
    opacity: .8;
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, .75));
}

.cover-leaf:hover {
    transform: scale(1.2);
    opacity: 1;
}

.cover-text {
    color: white;
    font-size: clamp(16px, 2.5vw, 36px);
    font-family: "Monda", sans-serif;
    text-shadow: 0px 0px 25px black;
    z-index: 3;
    text-align: center;
}

.cover-bgdarken {
    background: rgba(0, 0, 0, 0.5);
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

h1 h2 h3 h4 h5 h6 {
    margin: 10px;
}

p {
    font-size: var(--standard-font-size);
}

hr {
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.25);
    border-width: 2px;
    border-radius: 50%;
    width: 50vw;
}

.about-list {
    list-style-type: none;
    font-size: var(--standard-font-size)
}

.about-list li::before {
    content: "- ";
}

.link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link-list li {
    display: inline;
    text-decoration: none;
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    margin: var(--link-list-margins);
}

.link-list a {
    text-decoration: none;
    color: black;
    margin: var(--link-list-margins);
}

.link-list li:hover {
    background-color: darkgrey;
    transition: background-color 0.3s;
}

.link-list.active a {
    text-decoration: none;
    color: white;
    margin: var(--link-list-margins);
}

.link-list.active, .link-list.active:hover {
    background-color: var(--selected-nav-color);
}

.column-text {
    margin: 15px 300px;
}

.portfolio-section {
  display: grid;
  flex-wrap: wrap;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  width: 450px;
  border: 3px outset rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  overflow: hidden;
  background: rgb(43, 43, 43,.3);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card a {
    color: white;
    text-decoration: none;
}

.card:hover {
    background: rgb(10, 10, 10,.75);
    transition: background 0.3s;
}

.card:hover h3{
    text-decoration: underline 3px;
}

.carousel {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.carousel-image {
  display: none;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carousel-image.active {
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  padding: 6px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.prev:hover, .next:hover {
    background: white;
    color: black;
    transition: all 0.3s;
}

.prev { 
    left: 5px; 
}

.next { 
    right: 5px; 
}

.card-content {
  padding: 16px;
}